[Unit]
Description=Backup PaperMC Minecraft Server
After=minecraft.service
Requires=minecraft.service

[Service]
Type=oneshot
User=minecraft
Group=minecraft
WorkingDirectory=/home/minecraft/server
ExecStart=/home/minecraft/server/backup.sh
